{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}

{% block content %}
<main id="main" >

    <!-- ======= Hero Section ======= -->
    <section id="homesection" style="padding: 0px 0px;">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading">About Us</h2>
              <hr class="my-4">
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget enim nec turpis suscipit gravida. Sed ut blandit purus. Nullam hendrerit tortor ac metus aliquet, vel condimentum libero gravida.</p>
              <p class="mb-4">Our mission is to provide innovative solutions for detecting and preventing credit card fraud, ensuring the security of online transactions.</p>
              <p class="mb-4">We are a dedicated team of cybersecurity experts, data scientists, and software engineers committed to combating fraud in the digital age.</p>
              <p class="mb-4">Using advanced technology and machine learning algorithms, we analyze transaction data in real-time to identify suspicious activities and protect our users from fraudulent transactions.</p>
              <p class="mb-4">For inquiries or collaboration opportunities, please contact us at <a href="mailto:contact@chaitanyaserver.com">contact@chaitanyaserver.com</a>.</p>
            </div>
          </div>
        </div>
      
       
    </section><!-- End Hero -->
  
    </main>
  
{% endblock %}